nav{
    background-color: rgb(44, 39, 39);
    
}

ul{
    display: flex;
    justify-content: end;
}
li{
    list-style:none;
    margin: 1rem;
}
a{
    position: relative;
    color: white;
    text-decoration: none;
    z-index: 10000;
    padding: 5px;
    transition: all .5s ease;
}

a:after{
    content: "";
    background-color: brown;
    width: 0%;
    min-height: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    transition: all .5s ease;
}

a:hover:after{
    width: 100%;
    transition: all .3s ease;

}
